<h1>Editing order</h1>

<%= render "form", order: @order %>

<br>

<div>
  <%= link_to "Show this order", @order %> |
    <%= link_to "Edit this order", edit_customer_order_path(@customer, @order) %> |
  <%= link_to "Back to orders", customer_orders_path(@customer) %>
</div>
